<div class="crediential_wrapper">
  <div class="container">
    <div class="row new-password justify-content-center" *ngIf="!resetPasswrod">
      <div class="col-lg-6 col-sm-12 forgot-conatiner">
        <div class="forgot-header p">
          <h4 class="forgot-heading">Reset Your Password.</h4>
        </div>
        <div class="forgot-wrap">
          <div class="row">
            <div class="col-lg-6">
              <div class="envolpe-icon">
                <img src="/assets/images/reset-password.png">
              </div>
            </div>
            <div class="col-lg-6 pl-0 align-item d-flex">
              <form [formGroup]="resetform">
                <div class="col-lg-12 pl-0">
                  <div class="text-info">
                    <p>You will need to enter your new password here.</p>
                  </div>
                  <div class="forgot-fields">
                    <label>New Password</label>
                    <input type="password" formControlName="newPassword" minlength="8" class="email-field">
                    <div class="error-fields">
                      <div *ngIf="resetform.get('newPassword').touched && resetform.get('newPassword').invalid">
                        <p class="required validate-err">
                          <span *ngIf="resetform.get('newPassword').hasError('required')" class="required">
                            Password is required.
                          </span>
                          <span *ngIf="resetform.controls.newPassword.errors?.minlength" class="required">
                            Password at least 8 characters required
                          </span>
                          <span *ngIf="resetform.controls.newPassword.errors?.hasNumber" class="required">
                            Must have at least 1 number!
                          </span>
                          <span *ngIf="resetform.controls.newPassword.errors?.hasCapitalCase" class="required">
                            Must contain at least 1 in Capital Case!
                          </span>
                          <span *ngIf="resetform.controls.newPassword.errors?.hasSmallCase" class="required">
                            Must contain at least 1 Letter in Small Case!
                          </span>
                          <span *ngIf="resetform.controls.newPassword.errors?.hasSpecialCharacters" class="required">
                            Must contain at least 1 Special Character!
                          </span>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="forgot-fields pt-0">
                    <label>Confirm Password</label>
                    <input type="password" formControlName="confirmPassword" class="email-field">
                    <div class="error-fields">
                      <div *ngIf="resetform.get('confirmPassword').touched && resetform.get('confirmPassword').invalid">
                        <p *ngIf="resetform.get('confirmPassword').hasError('required')" class="required">
                          Confirm Password is required.
                        </p>
                        <p *ngIf="resetform.controls.confirmPassword.errors?.mustMatch" class="required">Password and confirm password is not match</p>
                      </div>
                    </div>
                  </div>
                  <div class="submit-fields">
                    <button class="submitbtn" type="submit" (click)="updatedPasswoord()">Update Password</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row thank-you justify-content-center" *ngIf="resetPasswrod">
      <div class="col-lg-6 col-sm-12 forgot-conatiner">
        <div class="forgot-header p">
          <h4 class="forgot-heading">Password Updated!</h4>
        </div>
        <div class="forgot-wrap">
          <div class="row">
            <div class="col-lg-6">
              <div class="envolpe-icon">
                <img src="/assets/images/tick.png">
              </div>
            </div>
            <div class="col-lg-6 pl-0 align-item d-flex">
              <div class="col-lg-12 pl-0">
                <div class="forgot-header p">
                  <h4 class="forgot-heading">Done!</h4>
                </div>
                <div class="text-info">
                  <p>You have successfully changed your password. Please use the new password to <span class="gotologin" (click)="logIn()">Log in </span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br><br>
