.forgot-conatiner {
    background: #dbf0f6;
    padding: 30px;
    position: relative;
}

.forgot-wrap {
    background: #f4fafa;
}

.forgot-header .forgot-heading {
    color: #212121;
    text-decoration: none;
    font-weight: 200;
    font-size: 30px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    text-transform: uppercase;
    margin-bottom: 10px;
    line-height: 26px;
}

svg.bi.bi-envelope {
    color: #212121;
}

.envolpe-icon {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #fff;
    min-height: 200px;
    align-items: center;
    padding: 46px;
}

.text-info {
    padding-top: 20px;
    color: #212121;
}

.forgot-fields {
    display: block;
    padding: 20px 0 10px;
}

.forgot-fields .email-field::placeholder {
    color: #cfc9c9;
    font-size: 14px;
}
p.required {
  color: red;
}
.submit-fields .submitbtn {
    background-color: #33cccc !important;
    border-radius: 50px !important;
    height: 38px;
    width: auto;
    padding: 10px 20px !important;
    min-width: auto;
    font-size: 18px;
    margin-top: 20px;
    font-weight: 200;
    float: left;
}

.submit-fields {
    padding-bottom: 30px;
}

.pl-0 {
    padding-left: 0;
}

.pt-0 {
    padding-top: 0 !important;
}

.align-item {
    align-items: center;
}

button.close {
    position: absolute;
    right: 17px;
    top: 17px;
    background: none;
}

.forgot-conatiner input {
    margin-bottom: 0;
}
span.gotologin {
  color: #0683f1;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

p.required.validate-err {
  font-size: 13px;
}

span.required {
  font-size: 13px;
}
