<div>
    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel">
        <div ngxSlickItem class="carousel-item slide">
            <img src="{{slides[slide].img}}" alt="Los Angeles">
        </div>
        <!-- <div ngxSlickItem class="carousel-item slide">
            <img src="assets/images/people-image-01.jpg" alt="Chicago" >
        </div>
        <div ngxSlickItem class="carousel-item slide">
            <img src="assets/images/people-image-02.jpg" alt="New York" >
        </div> -->
    </ngx-slick-carousel>
</div>