<div class="view-match-new">
    <div class="print-button">
        <div class="career-top">
            <h3>Top Career Professional Match</h3>
        </div>
        <!-- <button class="btn-new" ngxprint="" printsectionid="print_area"
            ng-reflect-print-section-id="print_area" ng-reflect-use-existing-css="true"><i _ngcontent-dvs-c7=""
                aria-hidden="true" class="fa fa-print"></i></button> -->
        <button [useExistingCss]="true" class="btn-new" printSectionId="print_area" ngxPrint><i class="fa fa-print"
                aria-hidden="true"></i></button>
        <!-- <button _ngcontent-dvs-c7=""><i _ngcontent-dvs-c7="" aria-hidden="true" class="fa fa-download"></i></button> -->
        <button><i class="fa fa-download" aria-hidden="true"></i></button>
    </div>

    <div id="print_area">
        <div class="main-view-match">

            <div class="profile-view-new">

                <div class="profile-view">
                    <div class="reyan-profile">
                        <img src="assets/images/brain_morrison.png">
                        <h3>Ryan William</h3>
                    </div>

                    <div class="profile-view-main">
                        <ul>
                            <li>Profile-summary</li>
                            <li>Primary service</li>
                        </ul>
                    </div>
                </div>

                <div class="spacil-new">
                    <div class="profile-view-cn">
                        <ul>
                            <li>Specialization</li>

                        </ul>
                    </div>
                    <div class="profile-view-nit">
                        <ul>
                            <li>Curate match profile link</li>
                            <li>Industry</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="main-view-match-new">

            <div class="profile-view-new">

                <div class="profile-view">
                    <div class="reyan-profile">
                        <img src="assets/images/brain_morrison.png">
                        <h3>Ryan William</h3>
                    </div>

                    <div class="profile-view-main">
                        <ul>
                            <li>Profile-summary</li>
                            <li>Primary service</li>
                        </ul>
                    </div>
                </div>

                <div class="spacil-new">
                    <div class="profile-view-cn">
                        <ul>
                            <li>Specialization</li>

                        </ul>
                    </div>
                    <div class="profile-view-nit">
                        <ul>
                            <li>Curate match profile link</li>
                            <li>Industry</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>