<div class="container1">
    <form [formGroup]="step3Form">
        <h2 class="column-heading pink-clr">
            <span>STAGE 1:</span>
            <span>Candidate Personal Criteria</span>
        </h2>
        <div class="wd-50 first-child">
            <div class="col-50 new-size">
                <div class="wd-s-50">
                    <p>COMPANY NAME</p>
                    <input type="text" class="input-cls">
                </div>
                <div class="wd-s-50">
                    <p>JOB LEVEL</p>
                    <input type="text" class="input-cls">
                </div>
            </div>
            <div class="col-50">
                <div class="wd-s-50">
                    <p>JOB CATEGORY</p>
                    <input type="text" class="input-cls">
                </div>
                <div class="wd-s-50">
                    <p>JOB TYPE</p>
                    <input type="text" class="input-cls">
                </div>
            </div>
            <div class="col-50 new-location">
                <div class="wd-s-50">
                    <p>LOCATION</p>
                    <input type="text" class="input-cls">
                </div>
                <div class="wd-s-50">
                    <p>TRAVEL REQUIREMENT</p>
                    <input type="text" class="input-cls">
                </div>
            </div>
            <div class="col-50">
                <div class="wd-s-50">
                    <p>CITY STATE</p>
                    <input type="text" class="input-cls">
                </div>
                <div class="wd-s-50">
                    <p>VACCINE REQUIREMENT</p>
                    <input type="text" class="input-cls">
                </div>
            </div>
            <div class="col-50">
                <div class="wd-s-50">
                    <p>JOB RADIUS</p>
                    <input type="text" class="input-cls">
                </div>
                <div class="wd-s-50">
                    <p>LANGUAGE REQUIREMENT</p>
                    <input type="text" class="input-cls">
                </div>
            </div>
            <div class="col-50">
                <div class="wd-s-50">
                    <p>LEARNING + TRAINING</p>
                    <input type="text" class="input-cls">
                </div>
                <div class="wd-s-50">
                    <p>FLEXIBLE HOURS</p>
                    <input type="text" class="input-cls">
                </div>
            </div>

            <!-- <div class="col-50 mt-50 separate">
                <div class="wd-s-50 col-12">
                    <p>CUSTOM TAGS (SEPARATE BY COMMA)</p>
                    <textarea rows="5" cols="40"></textarea>
                </div>
            </div> -->

            <!-- <div class="col-50 mt-50">
                <div class="wd-s-50">
                    <p class="pink-clr">APPLICATION DEADLINE</p>
                  
                    <input type="text" class="input-cls min-input">
                </div>
                <div class="wd-s-50 main-range">
                    <div class="range-date">
                        <h4>JOB POST DATE RANGE</h4>
                    </div>
                    <div class="date wd-s-50 text-center">
                        <p class="pink-clr">START DATE</p>
                        
                        <input type="text" class="input-cls">
                    </div>
                    <div class="date wd-s-50 text-center">
                        <p class="pink-clr">END DATE</p>
                      
                        <input type="text" class="input-cls">

                    </div>
                </div>
            </div> -->

            <!-- <div class="col-50">
                <div class="note" style="display: flex;">
                    <p>NOTE:</p>
                    <div class="note-para">
                        <p><span> a)</span> Make adjustments to the selection criteria based on level of matches</p>
                        <p><span> b)</span> Skip order and rank based on personal preference </p>
                        <p><span> c)</span> Prefrences will be matched and ranked based on available data in job postings
                        </p>
                    </div>
                </div>
            </div> -->
        </div>


        <div class="wd-50 second-child">
            <div class="col-50">
                <div class="wd-s-50">
                    <p>INDUSTRY SUGGESTIONS BASED ON RESUME + SKILLS</p>
                    <textarea rows="5" cols="40"></textarea>
                </div>
                <div class="wd-s-50">
                    <p>JOB TITLE SUGGESTIONS BASED ON RESUME + SKILLS</p>
                    <textarea rows="5" cols="40"></textarea>
                </div>
            </div>
            <div class="col-50">
                <div class="wd-s-50">
                    <p>SELECT PREFFERED INDUSTRY BASED ON ABOVE</p>
                    <input type="text" class="input-cls">
                </div>
                <div class="wd-s-50 title-new">
                    <p>SELECT PREFFERED TITLE BASED ON ABOVE</p>
                    <input type="text" class="input-cls">
                </div>
            </div>
            <div class="col-50">
                <div class="wd-s-50">
                    <p>SALARY-MINIMUM</p>
                    <input type="text" class="input-cls">
                </div>
                <div class="wd-s-50">
                    <p>SALARY-MAXIMUM</p>
                    <input type="text" class="input-cls">
                </div>
            </div>
            <div class="col-50">
                <div class="wd-s-50 col-12">
                    <p>EDUCATION</p>
                    <input type="text" class="input-cls">
                </div>

            </div>
            <div class="col-50">
                <div class="wd-s-50 col-12">
                    <p>CERTIFICATION</p>
                    <input type="text" class="input-cls">
                </div>
            </div>
            <!-- <div class="col-50 mt-50 separate">
                <div class="wd-s-50 col-12">
                    <p>BENEFITS (SEPARATE BY COMMA)</p>
                    <textarea rows="5" cols="40"></textarea>
                </div>
            </div> -->
            <!-- <div class="col-50">
                <div class="wd-s-50 col-12">
                    <p>CUSTOM TAGS (SEPARATE BY COMMA)</p>
                    <textarea rows="5" cols="40"></textarea>
                </div>
            </div> -->

            <!-- <div class="col-50 mt-50">
                <div class="wd-s-50">
                    <p class="pink-clr">APPLICATION DEADLINE</p>
                    <input type="date" placeholder="mm/dd/yyyy" class="input-cls min-input">
                    <input type="text" class="input-cls min-input">
                </div>
                <div class="wd-s-50">
                    <div class="date wd-s-50 text-center">
                        <p class="pink-clr">START DATE</p>
                        <input type="date" placeholder="mm/dd/yyyy" class="input-cls">
                        <input type="text" class="input-cls">
                    </div>
                    <div class="date wd-s-50 text-center">
                        <p class="pink-clr">END DATE</p>
                        <input type="date" placeholder="mm/dd/yyyy" class="input-cls">
                        <input type="text" class="input-cls">

                    </div>
                </div>
            </div> -->
            <!-- <div class="col-50 mt-50">
                <div class="wd-s-50">

                    <div class="">
                        <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" formControlName="recaptcha">
                        </ngx-recaptcha2>
                        <div *ngIf="getControls.recaptcha.invalid" class="alert alert-danger">
                            <div *ngIf="(getControls.recaptcha.errors?.required && getControls.recaptcha.touched) || isInvalid">
                                Captcha is required.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="wd-s-50">
                    <button type="submit" class="view" (click)="submitForm()">VIEW MATCHES</button>
                </div>
            </div> -->
        </div>
    </form>
</div>


<div class="saprates-class">
    <div class=" first-class">

        <div class="col-50 mt-50 separate">
            <div class="wd-s-50 col-12">
                <p>CUSTOM TAGS (SEPARATE BY COMMA)</p>
                <textarea rows="5" cols="40"></textarea>
            </div>
        </div>
    </div>

    <div class=" second-class">
        <div class="col-50 mt-50 separate">
            <div class="wd-s-50 col-12">
                <p>BENEFITS (SEPARATE BY COMMA)</p>
                <textarea rows="5" cols="40"></textarea>
            </div>
        </div>
    </div>
</div>


<div class="saprates-class">
    <div class=" first-class">
        <div class="col-50 mt-50">
            <div class="wd-s-50">
                <p class="pink-clr">APPLICATION DEADLINE</p>

                <input type="text" class="input-cls min-input">
            </div>
            <div class="wd-s-50 main-range">
                <div class="range-date">
                    <h4>JOB POST DATE RANGE</h4>
                </div>
                <div class="date wd-s-50 text-center">
                    <p class="pink-clr">START DATE</p>

                    <input type="text" class="input-cls">
                </div>
                <div class="date wd-s-50 text-center">
                    <p class="pink-clr">END DATE</p>

                    <input type="text" class="input-cls">

                </div>
            </div>
        </div>
    </div>

    <div class=" second-class">

        <div class="col-50 mt-50">
            <div class="wd-s-50">

                <div class="">
                    <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" formControlName="recaptcha">
                    </ngx-recaptcha2>
                    <div *ngIf="getControls.recaptcha.invalid" class="alert alert-danger">
                        <div *ngIf="(getControls.recaptcha.errors?.required && getControls.recaptcha.touched) || isInvalid">
                            Captcha is required.
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="wd-s-50">
                <button type="submit" class="view" (click)="submitForm()">VIEW MATCHES</button>
            </div> -->
        </div>
    </div>
</div>



<div class="saprates-class-new">
    <div class=" first-class-new">
        <div class="note" style="display: flex;">
            <p>NOTE:</p>
            <div class="note-para">
                <p>a) Make adjustments to the selection criteria based on level of matches<br> b) Skip order and rank based on personal preference<br> c) Prefrences will be matched and ranked based on available data in job postings
                </p>
            </div>
        </div>
    </div>

    <div class="second-class-new">

        <div class="view-btn">
            <button type="submit" class="view" (click)="submitForm()">VIEW MATCHES</button>

        </div>
    </div>
</div>


<!-- 
<div class="">
    <div class="note" style="display: flex;">
        <p>NOTE:</p>
        <div class="note-para">
            <p>a) Make adjustments to the selection criteria based on level of matches<br> b) Skip order and rank based on personal preference<br> c) Prefrences will be matched and ranked based on available data in job postings
            </p>
        </div>
    </div>
</div> -->