<div class="carreer-view-new">
    <div class="carre-text">
        <h3>Candidate + Career Professional Directly Matched</h3>
    </div>
    <div class="row candi-advance ">

        <div class="col-xl-6 col-lg-6 col-md-12 col-12 wow fadeInLeft">
            <div class="jobrep-txt cnt-wrap-curate">
                <table class="table-new-class">
                    <tr>
                        <th class="table-hadding" style="color:#a70063" colspan="2">Professional Services
                        </th>
                    </tr>
                    <ng-container *ngIf="!isLoading">
                        <tr *ngFor="let item of totalRows; let i = index">
                            <td *ngIf="allServices[i*2]">{{allServices[i*2].service_name}}</td>
                            <td *ngIf="allServices[(i*2) + 1]">{{allServices[(i*2) + 1].service_name}}</td>
                        </tr>
                    </ng-container>
                    <ng-container *ngIf="isLoading">
                        <tr class="js-table-row-loader custom-loading-box" *ngFor = "let e of [].constructor(7)">
                            <td colspan="4" class="table-cell-loader">
                              <div class="row-loader u-flex">
                                <div class="u-flex__cell u-mg--sm u-pd--sm loading-animation"></div>
                                <div class="u-flex__cell u-mg--sm u-pd--sm loading-animation u-hide-small--flex"></div>
                                <div class="u-flex__cell u-mg--sm u-pd--sm loading-animation u-show-large-only--flex"></div>
                              </div>
                            </td>
                        </tr>
                    </ng-container>
                </table>
                <div class="services-img">
                    <img src="assets/images/career-resume.PNG">
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-12 wow fadeInRight">
            <!--<img *ngIf = "showimage" id="idHolisticsImg" class="holistics" [ngStyle]="{'height': height+'px'}" src="assets/images/bg-right.jpg">-->
            <ng-container *ngIf="imageData && imageData.length > 0">
                <div class="user-details-new" *ngFor="let data of imageData">
                    <div class="user-details-img">
                        <img class="user_img" src={{data.image}} />
                        <div class="coach-name-new">
                            <h3 class="blue-color-text">{{data.name}}</h3>
                        </div>
                    </div>
                    <div class="user-details-content">
                        <h3 class="blue-color-text">{{data.title}}</h3>
                        <p [innerHTML]="data.details"></p>
                        <div class="botton-content-part">
                            <h3>Speciality:</h3>
                            <p>{{data.top3_specialites}}</p>
                            <!--<h3>LinkedIn:</h3> -->
                        </div>
                    </div>
                </div>
            </ng-container>
            <div class="career-button">
                <button type="button" (click)="tabChange(6)">NEXT</button>
            </div>
        </div>

    </div>
</div>