# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules


# testing
/coverage

# production
/build
/dist
/dist/curate-match

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#gitlab ci cd file
.gitlab-ci.yml