<div class="main-submit-resume">
    <div class="submited-resume">
        <div class="submited-title">
            <h4>Login + OTP to Submit Resume Below</h4>

            <div class="tool-btn-list">
                <div class="print-button"><button><i aria-hidden="true" class="fa fa-download"></i></button><button class="btn-new"><i aria-hidden="true" class="fa fa-print"></i></button></div>
            </div>

        </div>
    </div>

    <div class="register-login">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-8 col-xl-8">
                <div class="private-login">
                    <div class="step-1-regester">
                        <h4>STEP 1: Register or Login</h4>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-login-input mt-3">
                                <label>LOGIN-EMAIL (PRIVATE)</label>
                                <input type="text">
                            </div>

                            <div class="form-login-input">
                                <label>PASSWORD (PRIVATE)</label>
                                <input type="text">
                            </div>

                            <div class="form-login-input">
                                <label>FULL NAME (PRIVATE)</label>
                                <input type="text">
                            </div>

                        </div>
                        <div class="col-12 col-md-6">
                            <div class="captcha-button">
                                <div class="form-recaptcha-size">
                                    <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" class="w-100">
                                    </ngx-recaptcha2>
                                </div>
                                <div class="button-click">
                                    <a href="">REGISTER</a>
                                    <a href="" class="out-button">LOG OUT</a>

                                </div>

                                <div class="forgot-login">
                                    <a href="">Forgot Login / Password</a>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-12 col-md-12 col-lg-4 col-xl-4">
                <div class="inbox-code">
                    <div class="step-2-title">

                        <h3 class="check">STEP 2: </h3>
                        <h3> Check your email inbox and enter the OTP code below</h3>


                    </div>
                    <div class="otp-input">
                        <div class="type-class">
                            <label>OTP CODE</label>
                            <input type="">
                        </div>
                    </div>
                    <div class="submit-class">

                        <a href="">SUBMIT</a>
                    </div>

                    <div class="spam-folder">
                        <p>Check your spam folder if you do not see the code in your inbox</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="table-start">

        <div class="tabel-title">
            <h4>Top Employer Curated Matches</h4>
        </div>

        <table class="table dash-bord">
            <thead>
                <tr>
                    <th scope="mw-table-sm">Match%</th>
                    <th scope="mw-table-sm">Match ID</th>
                    <th scope="mw-table-lg">Company Name</th>
                    <th scope="mw-table-lg">Job Title</th>
                    <th scope="mw-table-sm">Post Date</th>
                    <th scope="mw-table-sm">End Date</th>
                    <th scope="mw-table-sm">Submit<br>Resume</th>
                    <th scope="mw-table-sm">Submit <br>Code</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">98%</td>
                    <td></td>
                    <td>Apple</td>
                    <td>Senior Financial Analyst</td>
                    <td></td>
                    <td></td>
                    <td>
                        <div class="submit-class-new">
                            <a href="">SUBMIT</a>
                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td scope="row">95%</td>
                    <td></td>
                    <td>Microsoft</td>
                    <td>Senior Financial Analyst</td>
                    <td></td>
                    <td></td>
                    <td>
                        <div class="submit-class-new">
                            <a href="">SUBMIT</a>
                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td scope="row">92%</td>
                    <td></td>
                    <td>Amazon</td>
                    <td>Senior Financial Analyst</td>
                    <td></td>
                    <td></td>
                    <td>
                        <div class="submit-class-new">
                            <a href="">SUBMIT</a>
                        </div>
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>