@font-face {
    font-family: 'Biome Std';
    src: url('BiomeStd-Bold.woff2') format('woff2'),
        url('BiomeStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Arial Narrow';
    font-style: normal;
    font-weight: normal;
    src: local('Arial Narrow'), url('ARIALN.woff') format('woff');
    }
    /* @font-face {
        font-family: 'Arial MT Narrow Bold';
        font-style: normal;
        font-weight: normal;
        src: local('Arial MT Narrow Bold'), url('ARIALMTNARROWBOLD.woff') format('woff');
        } */