.header {
    z-index: 9999;
    padding: 20px 0 20px;
    .carousel-inner {
        margin-top: 0px;
        @media (max-width: 900px) {
            margin-top: 0;
        }
        .tagline {
            font-size: 24px;
            font-family: "Balsamiq Sans", cursive;
            text-align: center;
            margin-left: 0px;
            font-weight: 700;
            margin-top: -4px;
            line-height: 1.6;
            @media (max-width: 900px) {
                font-size: 20px;
                margin-left: 0px;
                margin-top: 0;
            }
        }
        ul {
            height: 34px;
            @media (max-width: 900px) {
                height: 28px;
            }
            animation: slidein 10s linear 3,
            slideinFinal 0.5s linear 30s 1 normal forwards;
            // animation: slidein 10s linear infinite;
        }
    }
    .logo-fig img {
        padding-bottom: 0px;
    }
    .main-nav>ul>li {
        margin: 0 12px;
    }
}

@media (max-width:900px) {
    .header .menu-wrp {
        margin-top: 38%;
    }
}

@media (max-width:500px) {
    .header .d-table {
        display: block !important;
        margin: auto;
        text-align: center;
    }
    .header .d-table .d-table-cell {
        display: block !important;
    }
    .body {
        margin-top: 0px;
    }
}

@media (max-width:1400px) {
    .main-nav ul li a {
        font-size: 12px !important;
    }
}

@media (max-width:1600px) {
    .header .main-nav>ul>li {
        margin: 0 12px;
    }
}

@keyframes slidein {
    0% {
        transform: translateY(50px);
    }
    5% {
        transform: translateY(0px);
    }
    55% {
        transform: translateY(0px);
    }
    60% {
        transform: translateY(-34px);
    }
    100% {
        transform: translateY(-34px);
    }
}

@keyframes slideinFinal {
    // 0% {
    //     transform: translateY(50px);
    // }
    // 3.5% {
    //     transform: translateY(0px);
    // }
    // 15.5% {
    //     transform: translateY(0px);
    // }
    0% {
        transform: translateY(-34px);
    }
    25% {
        transform: translateY(-34px);
    }
    65% {
        transform: translateY(-68px);
    }
    100% {
        transform: translateY(-68px);
    }
}

.carousel-inner .scroll-down {
    margin: 0;
    font-size: 24px;
    color: #33cccc;
    margin-left: 77px;
    font-family: "Balsamiq Sans", cursive;
}

li.tagline.final-text span {
    color: #18164e;
}

@media screen and (min-width: 880px) and (max-width: 980px) {
    .header .carousel-inner ul {
        height: 34px;
    }
    .header .carousel-inner .tagline {
        font-size: 23px;
    }
    .menu-wrp {
        margin-top: 32%;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1800px) {
    .header .carousel-inner ul {
        height: 34px;
    }
    .header .carousel-inner .tagline {
        font-size: 23px;
    }
    .top-header {
        display: flex;
        justify-content: center;
    }
    .header .main-nav>ul>li>a {
        font-size: 15px;
    }
}

.mobile-menu .main-nav {
    right: 0;
}

nav.main-nav {
    background: #fff;
}

.main-nav ul li a {
    color: #000;
    font-size: 21px;
    transition: none;
}

.menu-wrp .main-nav ul li a.active {
    background: #33cccc;
}

.menu-active {
    background: #33cccc;
    color: #fff !important;
    ;
    padding: 10px;
}

.header .left-0 {
    padding-left: 0;
}

.top-float {
    position: relative;
    top: 40%;
}

.first-box {
    left: -116px;
    position: relative;
}

.third-box {
    position: relative;
    right: -108px;
}

.main-nav>ul>li:last-child {
    padding-right: 0 !important;
    margin-right: 0 !important;
}