.main-coach-match {
    display: flex;
    width: 100%;
    margin-top: 61px;
}

.coach-match-new {
    padding: 16px 9px 2px 1px;
    background-color: #dbf1f5;
    width: 82.1%;
}

.tab-hadding h4 {
    text-align: center;
    color: #a70063;
}
.disabled {
    background-color: #cccccc;
    cursor: pointer;
}

.required {
    color: red;
    font-size:12px;
}

.list {
    padding-top: 3px;
    height: 360px !important;
    background-color: #fff;
    overflow-y: scroll;
    li {
        padding-left: 18px;
        font-size: 20px;
        cursor: pointer;
    }
    .selected {
        background-color: #007bffd9;
        color: #fff;
    }
}

.side-form {
    width: 16%;
    margin: 54px 16px;
}

.making-hadding h4 {
    background-color: #18164e;
    color: #ffff07;
    width: 81.7%;
    font-size: 18px;
    text-align: center;
    padding: 8px 2px;
    margin-bottom: 7px;
}

.side-form input {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #000;
    display: block;
    font-size: 14px;
    font-weight: 400;
    width: 231px;
}
.invalid-feedback{
   position: absolute;
   bottom: -23px;
}
.loading-btn,
.button-wrap-tab-select-new button[type=submit]{
    padding: 7px 29px !important;
    font-size: 17px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #fff;
    background: #33cccc !important;
    border: none;
    text-align: left;
    margin: 60px 9px;
    text-transform: uppercase;
    border-radius: 70px !important;
    width: 182px;
    height: 67px;
    text-align: center;
    line-height: 25px;
}

input.state-class {
    margin-bottom: 58px;
}

.step-two {
    display: flex;
    justify-content: center;
}

.side-form label {
    font-size: 12px;
    width: 231px;
}
.service-box img {
    width: 100%;
}

.service-box {
    width: 281px;
}

.arrow-box.arrow-box2 {
    margin: 22px 9px 6px 18px;
}

.mani-new-cotch {
    position: relative;
}

.career-top h3 {
    font-size: 20px;
}

.candidate-text-new {
    position: absolute;
    /* left: 33%; */
    /* right: 18%; */
    top: -61px;
    width: 100%;
    display: flex;
    justify-content: center;
}

// .arrow-box {
//     margin-left: 24px !important;
// }




.career_professional_service .table-selector h3 {
    font-size: 20px;
    padding: 15px 2px;
}
.career_professional_service .table-selector h3 span{
    border-bottom:1px solid #ff0000;
}
.tab-content {
    padding-left: 0;
    padding-right: 0;
}
.candidate-emp::before {
    height: 45px;
    width: 45px;
    top: -35px;
    background-image: url(/assets/images/up-arrow.svg);
    content: "";
     position: absolute;
    background-position: center;
   left: 50%;
    transform: translateX(-50%);
}
.candidate-emp h4 {
    font-size: 35px;
    line-height: 55px;
    font-family: "Bahnschrift";
    padding: 0;
    color: #fff;
    text-align: center;
    font-weight: 500;
}

.candidate-emp {
    background: #18164e;
    color: #fff;
    padding: 12px 4px;
}
.exclude-con{
    background: #edeced;
    border: 1px solid #d2d2d2;
}
.exculd-images{
    text-align: center;
}
.exculd-text p {
    text-align: center;
    font-size: 23px;
    color: #a70063;
    padding: 0px 35px 12px;
    line-height: 1.5;
    font-family: Myriad Pro Regular;
    height: 192px;
}

.exculd-images img {
    padding: 25px 0px 20px;
    max-width: 171px;
}

input.state-class {
    margin-bottom: 16px;
}



.table-selector{
    position:relative;
}


.table-selector:after{
content: "";
    height: 42px;
    background: #fff;
    position: absolute;
    left: 0;
    width: 100%;
    max-width: calc(100% - 20px);
    margin: 0 auto;
    bottom: 0;
}



.making-hadding.phone{
    display:none;
}

@media screen and (max-width: 1800px) {
    .making-hadding h4 {
        width: 81.5%;
    }
    .side-form input {
        width: 205px;
    }
    .list li {
        padding-left: 11px;
        font-size: 17px;
    }
    .button-wrap-tab-select-new a {
        font-size: 14px;
        width: 166px;
        height: 60px;
    }
    
    // .table-selector {
    //     margin-left: -8px;
    // }
    .service-box {
        width: 256px;
        // margin-left: -9px;
    }
    .coach-match-new {
        padding: 16px 21px 2px 1px;
    }
    .career_professional_service .table-selector h3{
        font-size: 16px;
    }
    .list{
        height: 321px !important;
    }
    .candidate-emp h4 {
        font-size: 30px;
    }   
    .exculd-images img {
        padding: 25px 0px 20px;
        max-width: 141px;
    }
    .exculd-text p {
        font-size: 20px;
       padding: 0px 21px 12px;}
}

@media screen and (max-width: 1400px) {
    .tab-hadding h4 {
        font-size: 19px;
    }
    // .table-selector {
    //     margin-left: 1px;
    // }
    .table-selector h3 {
        font-size: 11px;
    }
    .list {
        height: 280px !important;
    }
    .list li {
        padding-left: 5px;
        font-size: 15px;
    }
    .row.step-two h4 {
        font-size: 15px;
    }
    .making-hadding h4 {
        font-size: 14px;
        width: 82.2%;
    }
    .side-form {
        margin: 51px 1px 2px 2px;
    }
    .side-form input {
        height: 31px;
    }
    .side-form label {
        font-size: 11px;
        width: 182px;
    }
    .button-wrap-tab-select-new a {
        margin: 24px 9px;
        font-size: 12px;
        width: 146px;
        height: 57px;
    }
    .side-form input {
        width: 171px;
    }
    
    .service-box {
        width: 188px;
        margin-left: 2px;
    }
    .coach-match-new {
        padding: 16px 0px 2px 1px;
    }
    .candidate-text-new h3 {
        font-size: 20px;
    }
    .candidate-text-new {
        position: absolute;
        top: -57px;
    }
    // .candidate-text-new {
    //     position: absolute;
    //     left: 32%;
    //     top: -61px;
    // }
    .candidate-emp h4 {
        line-height: 15px;
    }
        .candidate-emp{
            padding: 16px 4px;
        }
        .arrow-box.arrow-box2{
            margin: 0;
        }
        .career_professional_service .table-selector h3 {
            font-size: 16px;
            height: 68px;
        }
}
@media screen and (min-width: 1024px) {
    .phone {
        display: none;
    }
}
@media screen and (max-width: 1200px) {
    .main-coach-match {
        margin-top: 61px;
    }
    .side-form input {
        width: 160px;
        height: 29px;
    }
    .tab-hadding h4 {
        font-size: 16px;
    }
    .side-form label {
        font-size: 11px;
        width: 160px;
    }
    .making-hadding h4 {
        font-size: 13px;
        width: 82%;
        margin: 0px 0;
    }
    .button-wrap-tab-select-new a {
        margin: 27px 0px !important;
        font-size: 11px;
        width: 139px;
        height: 52px;
    }
    .list {
        height: 284px !important;
    }
    // .step-two {
    //     margin-left: 0px;
    // }
    // .arrow-box {
    //     margin-left: -13px !important;
    // }
    // .table-selector {
    //     margin-left: -1px;
    // }
    .service-box {
        margin-left: 0px;
    }
    .exculd-text p {
         padding: 0px 17px 12px;
    }
}

@media(max-width:1102px){
    .table-selector:after {
         max-width: calc(100% - 10px);
    }
}




@media screen and (max-width: 1024px) {
    .making-hadding h4 {
        width: 82.1%;
        margin: 0px;
        font-size: 12px;
    }
    .side-form input {
        width: 136px;
        height: 27px;
    }
    .side-form label {
        font-size: 11px;
    }
    .button-wrap-tab-select-new a {
        font-size: 11px;
        width: 120px;
        height: 50px;
        padding: 7px 15px;
    }
    .tab-hadding h4 {
        font-size: 15px;
    }
    .step-two {
        margin-left: -18px;
    }
    .arrow-box {
        margin-left: 8px !important;
    }
    .list li {
        font-size: 13px;
    }
    svg:not(:root) {
        width: 25px;
    }
    .row.step-two h4 {
        font-size: 14px;
    }
    .list {
        height: 255px !important;
    }
    .service-box {
        width: 183px;
    }
    .coach-match-new {
        padding: 16px 20px 2px 0px;
    }
    // .candidate-text-new {
    //     position: absolute;
    //     left: 30%;
    // }

    .main-coach-match.career_professional_service {
        flex-wrap: wrap;
    }
    .coach-match-new {
        width: 100% !important;
        padding: 20px 22px !important;
    }
    .side-form {
        width: 100% !important;
    }
    .exculd-images img {
        padding: 25px 0px 20px;
        max-width: 100px;
    }
    
    .arrow-box2 {
        transform: unset !important;
        margin: 20px 0 !important;
    }
    .side-form input {
        width: 100%;
    }
    .making-hadding.phone {
        display: block;
        width: 100%;
    }
    .making-hadding.desktop {
        display: none;
    }
    .making-hadding h4 {
        width: 100%;
    }
    .making-hadding.phone{
        display:block;
    }
}

@media screen and (max-width: 991px) {
    .coach-match-new {
        padding: 16px 40px 2px 43px;
        width: 100%;
    }
    .main-coach-match {
        display: block;
    }
    .table-selector {
        width: 100%;
    }
    .list {
        text-align: center;
    }
    .list li {
        font-size: 16px;
    }
    .arrow-box {
        margin: 30px auto;
    }
    .service-box {
        width: 100%;
    }
    .row.step-two h4 {
        font-size: 18px;
    }
    .side-form {
        width: 100%;
    }
    
    .making-hadding h4 {
        width: 100%;
    }
    .side-form label {
        font-size: 11px;
        width: 200px;
    }
    .list {
        text-align: left;
        padding: 20px 40px;
    }
    .candidate-emp{
        padding: 24px 4px;
    }
    .exculd-text p {
        padding: 0px 17px 52px;
        height: unset;
    }
    .career_professional_service .table-selector h3 {
        font-size: 16px;
        height: unset;
    }
    .candidate-emp::before{
        content:unset;
    }
    .list {
        height: 300px !important;
    }
}

@media screen and (max-width: 768px) {
    .main-coach-match {
        display: block;
        width: 100%;
        margin-left: 0px;
    }
    .coach-match-new {
        padding: 16px 3px;
        background-color: #dbf1f5;
        width: 100%;
    }
    .tab-hadding h4 {
        font-size: 16px;
    }
    .list li {
        padding-left: 0px;
        font-size: 19px;
    }
    .list {
        height: 281px !important;
        text-align: center;
    }
    .step-two {
        margin: 4px;
    }
    .making-hadding h4 {
        font-size: 12px;
        width: 100%;
    }
    .table-selector h3 {
        font-size: 16px;
    }
    .table-selector {
        width: 100%;
    }
    .service-box {
        width: 100%;
        text-align: -webkit-center;
    }
    .row.step-two h4 {
        font-size: 17px;
    }
    .arrow-box2 {
        transform: rotate(90deg);
        margin: 0px 9px 6px 18px;
    }
    .button-wrap-tab-select-new a {
        font-size: 12px;
        width: 148px;
        height: 50px;
        font-weight: 500;
        border: none;
        padding: 6px 24px;
    }
    // .candidate-text-new {
    //     position: absolute;
    //     left: 22%;
    // }
    .candidate-text-new h3 {
        font-size: 18px;
    }
}