

.profile-state label {
    color: #18164e;
    font-family: "Arial Rounded MT";
    font-size: 12px;
    font-weight: 500;
}

.profile-state input {
    margin-bottom: 0;
    border-radius: 5px;
}

.profile-state {
    margin-bottom: 14px;
}

.picture-new {
    max-width: 100%;
    background-color: #fff;
    height: 184px;
    margin-bottom: 14px;
    padding: 15px 40px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    position:relative;
}

.picture-new img#blah {
    width: 100px !important;
}


.upload-pic .picture-new img#blah {
    width: 100px;
    // height: 100px;
    // object-fit: cover;
    border-radius: 50%;
}

.picture-new button {
    background-color: #33cccc;
    width: 112px;
    height: 33px;
    display: flex;
    justify-content: center;
    font-size: 10px;
    align-items: center;
    border: 1px solid #afabab;
    border-radius: 44px;
    color: #fff;
    font-weight: 500;
    margin: 9px auto;
}

textarea.share-top {
    width: 100%;
    height: 109px;
    border-radius: 5px;
    margin-top: 1px;
}

.image-upload input {
    margin-bottom: 15px;
}

.status-profile {
    max-width: 100%;
    width: auto;
    background-color: #fff;
    padding: 9px 23px 23px 23px;
    margin-left: 11px;
    margin-top: 39px;
    background-color: #ebedf0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.header-profile {
    margin: 0px 0px 0px 11px;
}

.upload-pic {
    margin-left: 11px;
}

.profile-state textarea.text-class {
    margin-bottom: 0px;
    height: 110px;
    border-radius: 5px;
}

.profile-state textarea.text-class-new {
    margin-bottom: 0px;
    height: 109px;
    border-radius: 5px;
}

.note-bottom {
    display: flex;
    width: 100%;
    margin-bottom: -20px;
    align-items: center;
    justify-content: space-between;
}

.bottom-text p {
    padding: 0;
    font-size: 15px;
    color: #a70063;
    line-height: 21px;
    margin-top: 11px;
    font-weight: 500;
}

.bottom-button-next {
    float: right;
    margin: 0 auto;
    margin-right: 110px;
}

.bottom-button-next button.submit-btn {
    background-color: #33cccc;
    width: 133px;
    height: 54px;
    display: flex;
    justify-content: center;
    font-size: 22px;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 44px;
    color: #fff;
    margin-top: -1px;
    border: 1px solid #afabab;
    font-weight: 400;
}

.bottom-text {
    width: 100%;
}

.profile-page-form input::placeholder,
.profile-page-form textarea::placeholder {
    font-size: 13px;
    color: #a19c9c;
    line-height: 1.2;
}

.bottom-text.bulb-image {
    display: flex;
    align-items: baseline;
}
.profile-state label.orange_color {
    color: #ff9000 !important;
}
.profile-state label.skyblue_color {
    color: #33cccc !important;
}
.profile-state label.green_color {
    color: #8eb84a !important;
}
.plan_outter {
    display: flex;
    align-items: center;
    margin: 7px 0 8px 0;
}
.plan_outter p {
    font-size: 17px;
    color: #EA0A8C;
    margin-right: 50px;
    font-weight: 500;
}
.profile-state.state_city {
    display: flex;
   
}
.profile_state_inner.city_inner {
    width: 80%;
}
.profile_state_inner.state_inner {
    width: 19%;
    margin-left:auto;
}
sup{
    color: #EA0A8C;
}

.loader_img{
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
}
.loader_img img {
    width: 77px;
}

.main-profile-page {
    position: relative;
}
.loader_img.load_img2 {
    text-align: center;
    min-height: 390px;
    display: flex;
    align-items: center;
    justify-content: center;
}

// .profile-state select.special-dropdown {
//     height: 35px !important;
   
//     border: 1px solid #ccc;
//     border: 1px solid #ccc;
//     border-radius: 5px;
//     -webkit-border-radius: 5px;
//     color: #000;
//     display: block;
//     font-size: 14px;
//     font-weight: 400;
//     height: 35px;
//     padding: 0 10px;
// }


.status-profile.profile_status {
    margin-top: 32px;
}


@media screen and (max-width: 1800px) {
    .picture-new button {
        width: 90px;
        height: 33px;
        font-size: 9px;
        margin: 9px auto;
    }
    .status-profile {
        width: 97%;
        padding: 15px 23px 16px 23px;
    }
    .bottom-text p {
        padding: 0;
        font-size: 17px;
    }
}

@media screen and (max-width: 1400px) {
    .picture-new img#blah {
        width: 75px !important;
    }
    .picture-new button {
        margin: 9px auto !important;
    }
    .picture-new {
        padding: 28px 30px;
        height: 166px;
        margin-bottom: 7px;
    }
    .status-profile {
        padding: 8px 23px 7px 23px;
        margin-left: 15px;
        width: 92%;
        margin-top: 31px;
    }
    .upload-pic {
        margin-left: 11px;
    }
    .profile-state {
        margin-bottom: 5px;
    }
    .profile-state textarea.text-class {
        height: 100px;
    }
    textarea.share-top {
        height: 99px;
        margin-top: -2px;
    }
    .bottom-text p {
        font-size: 14px;
    }
    .header-profile {
        margin: 0px 0px 0px 11px;
    }
}

@media(max-width:1366px){
    .status-profile.profile_status {
        margin-top: 24px;
    }
}

@media screen and (max-width: 1024px) {
    .status-profile {
        padding: 6px 15px 11px 12px;
        width: 91%;
        margin-left: 15px;
        margin-top: 32px;
    }
    .upload-pic {
        margin-left: 11px;
    }
    .profile-state label {
        color: #18164e;
        margin-top: -5px;
    }
    .picture-new button {
        margin: 9px 13px;
    }
    .bottom-button-next button {
        width: 114px;
        height: 45px;
        font-size: 20px;
    }
    .picture-new {
        padding: 28px 14px;
        height: 166px;
        margin-bottom: 8px;
    }
    .profile-state {
        margin-bottom: 5px;
    }
    textarea.share-top {
        height: 100px;
    }
    .bottom-text {
        width: 67%;
    }
    .bottom-text p {
        padding: 0;
        font-size: 14px;
    }
    .bottom-button-next {
        width: 24%;
    }
    .profile-state textarea.text-class {
        height: 101px;
    }
    .profile_state_inner.city_inner {
        width: 76%;
    }
    .profile_state_inner.state_inner {
        width: 21%;
    }
    .profile_state_inner {
        margin: 0 0 1px;
    }
    .profile-state.service.summery {
        margin-bottom: 6px;
    }
    .profile-state.linkedin-profile {
        margin-bottom: 11px;
        margin-top: 5px;
    }
    .profile-state.jobreb_profile {
        margin: 6px 0 5px;
    }
    .status-profile.profile_status[_ngcontent-ivv-c6] {
        margin-top: 23px;
    }

}

@media screen and (max-width: 991px) {
    .upload-pic {
        margin-left: 0px;
    }
    .status-profile {
        width: 100%;
        margin-left: 0px;
    }
    .picture-new button {
        margin: 9px auto;
    }
    .picture-new {
        max-width: 100%;
    }
    .plan_outter{
        margin: 16px 0 8px 0;
    }
}

@media screen and (max-width: 768px) {
    .upload-pic {
        margin-left: 0;
    }
    .status-profile {
        margin-left: 0px;
        width: 100%;
    }
    .picture-new img {
        width: 84px;
    }
    .picture-new button {
        margin: 9px 188px;
        width: 104px;
        height: 39px;
        font-size: 10px;
    }
    .picture-new {
        max-width: 505px;
    }
    .bottom-text {
        width: 70%;
    }
    .bottom-text p {
        padding: 0;
        font-size: 11px;
    }
    .bottom-button-next {
        width: 15%;
        margin: 7px auto;
    }
    .bottom-button-next button {
        width: 97px;
        height: 41px;
        font-size: 17px;
    }
    .header-profile {
        margin: 1px 0px 11px 2px;
    }
    .profile-state .picture-new{
        max-width:unset;
    }
    .picture-new {
        padding: 18px 30px;
    }
}

button.submit-btn {
    background: #33cccc !important;
    border: 1px solid #33cccc !important;
    border-radius: 40px !important;
    min-width: unset;
    padding: 0 0 !important;
    float: unset;
}

.required {
    color: red;
    font-size:12px;
}

span.picture-upload {
    font-size: 13px;
}

// .picture-new.image-uploaded {
//     padding: 0;
// }

.picture-new.image-uploaded img {
    max-width: 150px;
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.image-uploaded .position-absolute {
    position: absolute;
    top: 4px;
    right: 5px;
    width: auto;
    padding: 7px !important;
    display: inline-block;
    font-size: 16px;
    width: 33px;
    height: 33px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.profile-state .input__group .input-cst-special {
    margin-bottom: 7px !important;
    height: auto !important;
    padding: 8px;
    border:1px solid #ccc;
    border-radius: 5px;
}
.profile-state .input__group select + i.fa {
    float: right;
    margin-top: -35px;
    margin-right: 5px;
    pointer-events: none;
    background-color: #fff;
    padding-right: 5px;
  }





