<div class="row">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-bordered table-job-dash">
                <thead>
                    <tr>
                        <!-- <th class="" scope="col">Resume ID </th>
                        <th class="mw-table-lg" scope="col">Resume IDResume ID</th>
                        <th scope="col">Match <br> Count</th>
                        <th class="" scope="col">Recruiter Name</th>
                        <th class="" scope="col">Recruiter<br>Reference</th>
                        <th class="" scope="col">Involce <br>Number</th>
                        <th class="" scope="col">Resume<br> Submited</th>
                        <th class="mw-table-sm" scope="col">Status</th>
                        <th class="mw-table-sm" scope="col">Resend <br>Resume</th> -->
                        <th scope="col" class="mw-table-sm">Resume ID </th>
                        <th class="mw-table-lg" scope="col">Candidate Name </th>
                        <th scope="col" class="mw-table-sm">Match<br> Count</th>
                        <th scope="col" class="mw-table-sm">Recruiter Name</th>
                        <th scope="col" class="mw-table-sm">Recruiter<br>Reference</th>
                        <th scope="col" class="mw-table-md">Involce <br>Number</th>
                        <th scope="col" class="">Resume<br> Submited</th>
                        <th scope="col" class="">Status</th>

                        <th scope="col" class="mw-table-sm">Resend <br>Resume</th>


                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i of Arr(num)">
                        <td>JP0524220112</td>
                        <td>12346789012346789012345</td>
                        <td>100%</td>
                        <td>12345678901234567890</td>
                        <td>1234567891234</td>
                        <td>123456789012</td>
                        <td>1234567890</td>
                        <td>1234567890</td>
                        <td>is active</td>
                    </tr>

                </tbody>
            </table>

        </div>
        <!-- <div class="bottom-button-next button-image">
      <button type="button" class="submit-btn" (click)="tabChange(0)">NEXT</button>
    </div> -->
        <!-- <div class="d-flex align-items-center mt-40">
            <div class="information mr-auto">
                <span class="bulb-image"><img alt="" src="/assets/images/bulb-image.png"></span> Above information is visible and accessible to only logged in users</div>
        </div> -->
        <div class="d-flex align-items-center mt-40">
            <div class="information mr-auto">
                <span class="bulb-image"><img alt="" src="/assets/images/bulb-image.png"></span> Above information is visible and accessible only to logged in users</div>
            <!-- <div class="bottom-button-next button-image">
                <button type="button" class="submit-btn" (click)="tabChange(1)">NEXT</button>
            </div> -->
        </div>
    </div>
</div>