<div class="row">
    <div class="col-lg-12">
        <div class="tab-content job-post-profile">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <div class="incurate-tab-box">
                        <div class="iner-context-curate">
                            <h3>Recruiting Challenges</h3>
                            <p> Currently, millions of open jobs are posted and millions of able candidates are looking for work. There is a national "job matching" challenge.</p>
                            <p>Posting jobs on multiple social networks, ATS, job boards, and websites and searching for the right candidates uses up significant time, resources and adds to business challenges.</p>
                        </div>
                        <div class="inner-image-curate">
                            <img src="/assets/images/recuitment.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="incurate-tab-box">
                        <div class="user-details">
                            <div class="user-details-img"><img src="assets/images/heather_chang.png">
                                <div class="coach-name">
                                    <h3 class="blue-color-text">Heather Chang</h3>
                                </div>
                            </div>
                            <div class="user-details-content">
                                <h3 class="blue-color-text">Career Coach &amp; Job Search Strategist</h3>
                                <p>Helping professionals to identify their career<br>goals and develop an effective resume</p>
                                <div class="botton-content-part">
                                    <h3>Speciality:</h3>
                                </div>
                            </div>
                        </div>
                        <div class="iner-context-curate">
                            <h3 style="margin-top: 42px;display: inline-block;">Both Way Match</h3>
                            <p> Using direct curation and Deep <span><img src="/assets/images/logo-ai.svg" style="width: 35px;" alt=""></span> Match,<sup style="font-size: 47%;">TM</sup> employers can organically match candidates based on soft + hard skills
                                and qualifications and candidates can organically match employers based on the job posting and employer preferences.</p>
                            <p>Highly matched candidates and employers significantly reduce the upstream challenges, recruitment journey and save time and money.</p>
                        </div>
                        <div class="iner-context-curate">
                            <h3 class="mb-3">Candidate Powered - Reverse Match</h3>
                            <p class="mb-5">Traditional job search involves candidates having to wade through multiple social networks, job boards and perform low level keyword searches.</p>
                            <p>Candidates can now upload their profile, view their top matched companies and directly contact highly matched employers on Both Match.<sup style="font-size: 52%;">TM</sup></p>
                        </div>
                        <div class="button-image"><button class="btn" type="button" (click)="tabChange(1)">NEXT</button></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>