// Variables

// Color
$primary-color: 		#ffffff !default;		// white
$secondary-color:		#d60000 !default;		// rd
$tertiary-color:		#154179 !default;		// Blue shade
$quinary-color:			#001633 !default;		// Dark Blue Shade
$grey:							#b9b9b9;
$footer-bg:					#001633;
$image-bg-shade:  	#458ea7 !default;

$text-color:				#000 !default;
$text-alt:					#2c2c2c !default;
$text-off: 					#979797 !default;
$blog-text:					#656565;
$white:							#fff !default;
$black:							#000 !default;
$red:								#e62828 !default;
$border-color:			#ccc;
$form-bg:           #efefef;

// Font size
$base-font:					1.6rem !default;		// 16px
$text-xs:					  1.2rem !default;		// 12px
$text-sm:					  1.4rem !default;		// 14px
$text-md:					  1.5rem !default;		// 15px
$text-lg:					  1.7rem !default;		// 17px
$text-xl:					  1.8rem !default;		// 18px
$text-xxl:					1.9rem !default;		// 19px
$h1:						    4.2rem !default;		// 42px
$h2:						    2.4rem !default;	  // 24px
$h3:						    2.3rem !default;	  // 23px
$h4:						    2.2rem !default;	  // 22px
$h5:						    2.1rem !default;	  // 21px
$h6:						    2.0rem !default;		// 20px
// ==============================================
$bnr-xs:					  2.7rem !default; 		// 27px
$bnr-sm:					  2.8rem !default; 		// 28px
$bnr-md:					  3.0rem !default; 		// 30px
$bnr-lg:					  4.0rem !default; 		// 40px
$bnr-xl:					  5.1rem !default; 		// 51px
// ===============================================

// Font Family
$font-family:				'Poppins', sans-serif !default;
$font-alt:					'Poppins', sans-serif;
$icons:						  'primeappliance' !default;

// Font Weight
$fw-100			: 100;
$fw-300			: 300;
$fw-400			: 400;
$fw-500			: 500;
$fw-600			: 600;
$fw-700			: 700;
$fw-800			: 800;
$fw-900			: 900;