<div class="container">
    <!-- <form [formGroup]="privateJobForm"> -->
    <form>
        <div class="posted-job-header">
            <h2 class="column-heading pink-clr">Curate Job Requirements</h2>
            <div class="tool-btn-list">
                <div class="print-button"><button><i
              aria-hidden="true" class="fa fa-download"></i></button><button class="btn-new"><i
             aria-hidden="true" class="fa fa-print"></i></button></div>
            </div>
        </div>


        <div class="wd-50 wd-40 first-child">
            <div class="col-50 new-size">
                <div class="wd-s-50">
                    <p>COMPANY NAME</p>
                    <input type="text" class="input-cls">
                </div>
                <div class="wd-s-50">
                    <p>JOB ID</p>
                    <input type="text" class="input-cls">
                </div>

            </div>
            <div class="col-50">
                <div class="wd-s-50">
                    <p>JOB DIVISION</p>
                    <input type="text" class="input-cls">
                </div>
                <div class="wd-s-50">
                    <p>JOB DEPARTMENT</p>
                    <input type="text" class="input-cls">
                </div>

            </div>
            <div class="col-50 new-location">
                <div class="wd-s-50">
                    <p>JOB LEVEL</p>
                    <input type="text" class="input-cls" placeholder="Six Levels">
                </div>
                <div class="wd-s-50">
                    <p>JOB CATEGORY</p>
                    <input type="text" class="input-cls" placeholder="Bureau of Labor">
                </div>
            </div>
            <div class="col-50 new-location">
                <div class="wd-s-50">
                    <p>JOB TYPE</p>
                    <input type="text" class="input-cls" placeholder="FT / PT / HR / FL">
                </div>
                <div class="wd-s-50">
                    <p>JOB LOCATION</p>
                    <input type="text" class="input-cls" placeholder="IP / REMOTE / HYBRID">
                </div>
            </div>
            <div class="col-50">
                <div class="wd-s-50">
                    <p>JOB CITY</p>
                    <input type="text" class="input-cls">
                </div>
                <div class="wd-s-50">
                    <p>TRAVEL REQUIREMENT</p>
                    <input type="text" class="input-cls">
                </div>
            </div>
            <div class="col-50">
                <div class="wd-s-50 p-0">
                    <div class="wd-s-50">
                        <p>JOB STATE</p>
                        <input type="text" class="input-cls">
                    </div>
                    <div class="wd-s-50">
                        <p>ZIP CODE</p>
                        <input type="text" class="input-cls">
                    </div>

                </div>
                <div class="wd-s-50">
                    <p>VACCINE REQUIREMENT</p>
                    <input type="text" class="input-cls">
                </div>
            </div>
            <div class="col-50">
                <div class="wd-s-50">
                    <p>JOB COUNTRY</p>
                    <input type="text" class="input-cls">
                </div>
                <div class="wd-s-50">
                    <p>LANGUAGE REQUIREMENT</p>
                    <input type="text" class="input-cls">
                </div>
            </div>
            <div class="col-50">
                <div class="wd-s-50">
                    <p>WORK HOURS</p>
                    <input type="text" class="input-cls" placeholder="40 hrs / Flexible">
                </div>
                <div class="wd-s-50">
                    <p>PHYSICAL LIFT REQUIREMENT</p>
                    <input type="text" class="input-cls">
                </div>

                <div class="col-50">
                    <div class="wd-s-50 col-12">
                        <p>JOB SUMMARY</p>
                        <textarea rows="5" class="height-add" cols="40"></textarea>
                    </div>
                </div>

                <div class="col-50">
                    <div class="wd-s-50 col-12">
                        <p>BENEFITS (SEPERATE BY COMMA)</p>
                        <textarea rows="5" cols="40"></textarea>
                    </div>
                </div>
                <!-- <div class="col-12">
          <p>JOB SUMMARY</p>
          <textarea></textarea>
        </div>
        <div class="col-12">
          <p>BENEFITS (SEPERATE BY COMMA)</p>
          <textarea></textarea>
        </div> -->
                <div class="col-50 mt-50">
                    <div class="wd-s-50">
                        <p class="pink-clr">APPLICATION DEADLINE</p>
                        <!--<input type="date" placeholder="mm/dd/yyyy" class="input-cls min-input">-->
                        <input type="text" class="input-cls min-input">
                    </div>
                    <div class="wd-s-50">
                        <div class="range-date">
                            <h4>JOB POST DATE RANGE</h4>
                        </div>
                        <div class="date wd-s-50 text-center">
                            <p class="pink-clr">START DATE</p>
                            <!--<input type="date"  placeholder="mm/dd/yyyy" class="input-cls">-->
                            <input type="text" class="input-cls">
                        </div>
                        <div class="date wd-s-50 text-center">
                            <p class="pink-clr">END DATE</p>
                            <!--<input type="date" placeholder="mm/dd/yyyy" class="input-cls">-->
                            <input type="text" class="input-cls">

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="wd-50 wd-40 second-child">
            <div class="col-50">
                <div class="wd-s-50 col-12">
                    <p>STANDARD JOB TITLE</p>
                    <input type="text" class="input-cls">
                </div>
            </div>
            <div class="col-50">
                <div class="wd-s-50 col-12">
                    <p>COMPANY TITLE (IF DIFFERENT)</p>
                    <input type="text" class="input-cls">
                </div>
            </div>
            <div class="col-50">
                <div class="wd-s-50 col-12">
                    <p>REPORTING MANAGER TITLE</p>
                    <input type="text" class="input-cls">
                </div>
            </div>
            <!--  -->
            <div class="col-50">
                <div class="wd-s-50">
                    <p>NUMBER OF YEARS EXPERIENCE</p>
                    <input type="text" class="input-cls">
                </div>
                <div class="wd-s-50">
                    <p>SPECIALIZED INDUSTRY FOCUS</p>
                    <input type="text" class="input-cls">
                </div>
            </div>
            <div class="col-50">
                <div class="wd-s-50">
                    <p>EDUCATION - MINIMUM</p>
                    <input type="text" class="input-cls">
                </div>
                <div class="wd-s-50">
                    <p>EDUCATION - PREFERRED</p>
                    <input type="text" class="input-cls">
                </div>
            </div>
            <div class="col-50">
                <div class="wd-s-50">
                    <p>SALARY - MINIMUM</p>
                    <input type="text" class="input-cls">
                </div>
                <div class="wd-s-50">
                    <p>SALARY - MAXIMUM</p>
                    <input type="text" class="input-cls">
                </div>
            </div>
            <!--  -->

            <div class="col-50 separate">
                <div class="wd-s-50 col-12">
                    <p>REQUIRED JOB EXPERIENCE</p>
                    <textarea rows="5" cols="40"></textarea>
                </div>
            </div>
            <div class="col-50">
                <div class="wd-s-50 col-12">
                    <p>DUTIES AND RESPONSIBILITIES</p>
                    <textarea rows="5" class="height-add" cols="40"></textarea>
                </div>
            </div>
            <div class="col-50">
                <div class="wd-s-50 col-12">
                    <p>OTHER REQUIREMENTS (SEPERATE BY COMMA)</p>
                    <textarea rows="5" cols="40"></textarea>
                </div>
            </div>
            <div class="col-50 mt-50 view-bn">
                <div class="wd-s-50">

                    <div class="">
                        <ngx-recaptcha2 class="recaptcha-box" #captchaElem [siteKey]="siteKey">
                        </ngx-recaptcha2>
                        <!-- <div *ngIf="getControls.recaptcha.invalid" class="alert alert-danger">
                          <div *ngIf="(getControls.recaptcha.errors?.required && getControls.recaptcha.touched) || isInvalid">
                              Captcha is required.
                          </div>
                      </div> -->
                    </div>
                </div>

                <!-- <div class="col-12">
                     <button type="submit" class="view" (click)="submitForm()">VIEW 
                    <button type="submit" class="view">NEXT</button>
                </div> -->
            </div>
        </div>

        <div class="wd-50 wd-20 second-child">
            <div class="col-50">
                <div class="wd-s-50 col-12">
                    <p>PREFERRED SOFT SKILLS</p>
                    <textarea class="large-textarea" rows="5" cols="40"></textarea>
                </div>
            </div>
            <div class="col-50">
                <div class="wd-s-50 col-12">
                    <p>PREFERRED HARD SKILLS</p>
                    <textarea class="large-textarea hard" rows="5" cols="40"></textarea>
                </div>
            </div>
            <div class="col-50">
                <div class="wd-s-50 col-12">
                    <p>CERTIFICATION</p>
                    <textarea rows="5" class="Licenses-height" cols="40"></textarea>
                </div>
            </div>
            <div class="col-50">
                <div class="wd-s-50 col-12">
                    <p>LICENSES</p>
                    <textarea rows="5" class="Licenses-height" cols="40"></textarea>
                </div>
            </div>

            <div class="black-w-box">
                <div class="col-50">
                    <div class="wd-s-50">
                        <p>COMPANY STATUS</p>
                        <input type="text" class="input-cls">
                    </div>
                    <div class="wd-s-50">
                        <p>PROFILE APPROVAL DATE</p>
                        <input type="text" class="input-cls">
                    </div>
                </div>
                <div class="col-50">
                    <div class="wd-s-50">
                        <!-- <p></p>
                        <input type="text" class="input-cls"> -->
                    </div>
                    <div class="wd-s-50 float-right">
                        <p>PROFILE LAST UPDATED</p>
                        <input type="text" class="input-cls">
                    </div>
                </div>

            </div>


        </div>
        <div class="col-12 submit-class">
            <button type="submit" class="view" (click)="submitForm()">NEXT</button>
        </div>
    </form>
</div>