/* You can add global styles to this file, and also import other style files */

@import 'app/scss/main.min.scss';
@import '~ngx-toastr/toastr';
@media print {
    body {
        margin-top: 0 !important;
    }
    @page {
        size: A4 landscape;
    }
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
    margin-top: 168px;
}

@media screen and (max-width: 767px) {
    .header.slim {
        position: fixed;
        top: 0;
        left: 0;
    }
}
