footer{
	padding: 25px 0;
	p{
		color: #18164d;
		font-size: 13px;
		font-weight: 700;
		font-family: 'Open Sans', sans-serif;
	}
}
#back-to-top{
	background: #18164d!important
}
#back-to-top:hover{
	background: #3fbfc3!important;
}

#back-to-top#one{
	display: block;
}

#back-to-top span{
	font-size: 0;
    font-weight: 600;
    position: relative;
    &:before{
    	position: absolute;
    	content: "";
    	// background: url(../images/angle-up-solid.svg) no-repeat center center;
    	width: 30px;
    	height: 35px;
    	top: -16px;
    	left: -16px;
    	fill: #fff;
    }
}
