<div class="main-profile-page">
    <div class="profile-page-form">


        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <div class="registration-form">
                    <div class="profile-state">
                        <label>FULL NAME</label>
                        <input type="text" placeholder="prefill registration/ login name">
                    </div>

                    <div class="profile-state">
                        <label>ADMIN EMAIL</label>
                        <input type="text" placeholder="prefill registration/ login email">
                    </div>

                    <div class="profile-state">
                        <label>COMPANY NAME (SEARCH JOBS DATABASE)</label>
                        <input type="text">
                    </div>

                    <div class="profile-state">
                        <label>INDUSTRY</label>
                        <input type="text" placeholder="SIC CODE">
                    </div>

                    <div class="profile-state">
                        <label>COMPANY EMAIL</label>
                        <input type="text">
                    </div>

                    <div class="profile-state ">
                        <label>ADDRESS</label>
                        <input type="text">
                    </div>

                    <div class="profile-state">
                        <label>CITY</label>
                        <input type="text">
                    </div>
                    <div class="profile-state row">
                        <div class="col">

                            <label>STATE</label>
                            <input type="text">
                        </div>
                        <div class="col">

                            <label>ZIP</label>
                            <input type="text">
                        </div>

                    </div>
                    <div class="profile-state">
                        <label>COUNRTY</label>
                        <input type="text">
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-5">

                <div class="header-profile">
                    <div class="profile-state">
                        <label>PROFILE HEADER</label>
                        <input type="text" >
                    </div>

                    <div class="profile-state">
                        <label>COMPANY SUMMARY</label>
                        <textarea class="text-class" cols="40" rows="5"></textarea>
                    </div>
                    <div class="profile-state">
                        <label>EMPLOYER'S RESPONSE TIME POLICY</label>
                        <textarea class="text-class-new pt-3" cols="40" rows="5" placeholder="Indicate standard time candidates can expect follow up to job postings"></textarea>
                    </div>
                    <div class="profile-state row">
                        <div class="col">

                            <label>COMPANY TYPE</label>
                            <input type="text" class="company-type" placeholder="public/private/smb/startup">
                        </div>
                        <div class="col">

                            <label>TOTAL EMPLOYEES</label>
                            <input type="text">
                        </div>

                    </div>
                    <div class="profile-state row">
                        <div class="col">

                            <label>CURRENT OPEN JOBS</label>
                            <input type="text">
                        </div>
                        <div class="col">

                            <label>CURRENT CURATED JOBS</label>
                            <input type="text">
                        </div>

                    </div>
                    <div class="profile-state">
                        <label>COMPANY WEBSITE URL</label>
                        <input type="text">
                    </div>

                    <div class="profile-state">
                        <label>COMPANY LINKEDIN PAGE LINK</label>
                        <input type="text">
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-3">
                <div class="upload-pic">
                    <div class="profile-state">
                        <label>COMPANY LOGO</label>
                        <div class="picture-new">

                            <img src="assets/images/uploads.png">

                            <a href="">UPLOAD PICTURE</a>
                        </div>
                    </div>
                    <div class="profile-state">
                        <label>EMPLOYER INTERNAL NOTES</label>
                        <textarea class="share-top bg-grey pt-3" cols="40" rows="5" placeholder="Add comments here so it can be viewed by other recruiters in your company"></textarea>
                    </div>
                </div>

                <div class="status-profile">
                    <div class="profile-state">
                        <label>PROFILE STATUS</label>
                        <input type="text">
                    </div>

                    <div class="image-upload">
                        <label>PROFILE APPROVAL DATE</label>
                        <input type="text">
                    </div>

                    <div class="profile-state">
                        <label>PROFILE LAST UPADATED</label>
                        <input type="text">
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="note-bottom">

        <div class="bottom-text">
            <p class="information mr-auto"><span class="bulb-image"><img src="/assets/images/bulb-image.png" alt=""></span>In order to provide quality service to candidates, a submitted<br> company profile will be active in the portal after review and approval</p>
        </div>

        <div class="bottom-button-next">
            <button (click)="tabChange(2)">NEXT</button>
            <!-- <a href="">NEXT</a> -->
            <!-- <a href="javascript:void(0)" >NEXT</a> -->
        </div>


    </div>

</div>